[Unit]
Description=Doguito API Service
After=network.target

[Service]
Environment="DB_USER=ADMIN"
Environment="DB_PASSWORD=Doguito123456"
Environment="CONNECT_STRING=doguitodb2_high"
Type=simple
User=opc
ExecStart=/usr/bin/node /home/opc/doguito-app/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target
